*{
    margin:0;
    padding:0;
    
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.header{
    width: 100%;
    display: flex;
    justify-content: center;
    
}

h2{
    
    color:#001f3f;
    font-family:'Roboto',sans-serif;
}

body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    
    
}

form {
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 3em;
    padding-top:2em;
    padding-bottom:2em;
    border-radius: 50px;
    background: #ffffff;
    box-shadow:  20px 20px 60px #bebebe,
                -20px -20px 60px #ffffff;
    
}

.form-line {
    display: flex;
    justify-content: space-between;
    font-family:'Roboto',sans-serif;
    color:#001f3f;
    margin-top: 1em;
}

.form-line input{
    border: none;
    border-bottom: 1.5px solid #001f3f;
    outline: none;
    background-color: #ffffff;
    width: 13em;
    
}

select{
    border:none;
    border-bottom: 1.5px solid #001f3f;
    background-color: #ffffff;
    outline: none;
}

.faculty-select{
    width: 13em;
}

#psw2 {
    margin-left: 1em;
}

.-submit-line{
    display: flex;
    margin-top:2em;
    justify-content: center;
    align-items: center;
}

.submit-btn{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #001f3f;
    width: 100%;
    border-radius:0.5em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#001f3f;
    background-color: #ffffff;
    text-align:center;
    transition: all 0.2s;
}
.submit-btn:hover{
    color:#fff;
    background-color:#001f3f;
}
    @media all and (max-width:30em){
    .submit-btn{
    display:block;
    margin:0.4em auto;
    }
}

.submit-btn:active {
    transform: scale(0.95);   

}